# Ambientes Virtuais (uv)
.venv/

# Caches e arquivos temporários
__pycache__/
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Variáveis de ambiente
.env

# Banco de dados locais
*.sqlite
*.db

# Docker
.dockerignore

# Cores e estilos que uso no VsCode
.vscode
