{% extends "base.html" %} {% block title %}OTB{% endblock %} {% block content %}
<div class="page-header d-print-none">
  <h1 class="page-title">Chess Tournaments</h1>
</div>

<!-- TOURNAMENT CARDS -->
<div class="row row-cards">
  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
    {% include "components/card.html" %}
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
    {% include "components/card.html" %}
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
    {% include "components/card.html" %}
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
    {% include "components/card.html" %}
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
    {% include "components/card.html" %}
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
    {% include "components/card.html" %}
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
    {% include "components/card.html" %}
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
    {% include "components/card.html" %}
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
    {% include "components/card.html" %}
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
    {% include "components/card.html" %}
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
    {% include "components/card.html" %}
  </div>
  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
    {% include "components/card.html" %}
  </div>
</div>

{% endblock %}
