<div class="sticky-top">
  <header class="navbar navbar-expand-md">
    <div class="container-xl">
      <!-- MOBILE TOP BAR -->
      <div
        class="d-flex d-md-none w-100 align-items-center justify-content-between py-2"
      >
        <!-- MENU -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mobileMenu"
          aria-controls="mobileMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 6l16 0" />
            <path d="M4 12l16 0" />
            <path d="M4 18l16 0" />
          </svg>
        </button>

        <!-- LOGO -->
        <a class="navbar-brand mx-2" href=".">
          <img
            src="./static/otb-logo.svg"
            alt="(ChessBoard) OTB"
            class="navbar-brand-image"
            style="width: 64px; height: auto"
          />
        </a>

        <!-- USER -->
        <div class="dropdown">
          <a href="#" class="nav-link p-0" data-bs-toggle="dropdown">
            <span
              class="avatar avatar-sm"
              style="background-image: url(./static/avatar.jpg)"
            ></span>
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <a href="./profile" class="dropdown-item">Profile</a>
            <a href="./settings" class="dropdown-item">Settings</a>
            <a href="./sign-in" class="dropdown-item">Logout</a>
          </div>
        </div>
      </div>

      <!-- MOBILE COLLAPSE MENU -->
      <div class="collapse d-md-none mt-2" id="mobileMenu">
        <ul class="navbar-nav">
          <!-- Tournaments -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-trophy"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M8 21l8 0" />
                <path d="M12 17l0 4" />
                <path d="M7 4l10 0" />
                <path d="M17 4v8a5 5 0 0 1 -10 0v-8" />
                <path d="M5 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M19 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
              </svg>
              Tournaments
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="./tournaments"
                  >All Tournaments</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="./calendar">Calendar</a>
              </li>
              <li>
                <a class="dropdown-item" href="./leaderboard">Leaderboard</a>
              </li>
              <li>
                <a class="dropdown-item" href="./maps-vector">Map Vector</a>
              </li>
            </ul>
          </li>

          <!-- Players -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-users"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
              </svg>

              Players
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="./players">All Players</a>
              </li>
              <li>
                <a class="dropdown-item" href="./ranking">Ranking</a>
              </li>
            </ul>
          </li>

          <!-- News -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-news"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11"
                />
                <path d="M8 8l4 0" />
                <path d="M8 12l4 0" />
                <path d="M8 16l4 0" />
              </svg>

              News
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="./news">All News</a></li>
              <li>
                <a class="dropdown-item" href="./announcements"
                  >Announcements</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="./broadcast">Broadcast</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- DESKTOP MENU -->
      <div
        class="row flex-column flex-md-row flex-fill align-items-center w-100 d-none d-md-flex"
      >
        <!-- NAVBAR LEFT -->
        <div class="col d-flex align-items-center">
          <ul class="navbar-nav">
            <!-- TOURNAMENTS -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#navbar-base"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-trophy"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M8 21l8 0" />
                  <path d="M12 17l0 4" />
                  <path d="M7 4l10 0" />
                  <path d="M17 4v8a5 5 0 0 1 -10 0v-8" />
                  <path d="M5 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                  <path d="M19 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                </svg>
                <span class="nav-link-title">Tournaments</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="./tournaments"
                  >All Tournaments</a
                >
                <a class="dropdown-item" href="./calendar">Calendar</a>
                <a class="dropdown-item" href="./leaderboard">Leaderboard</a>
                <a class="dropdown-item" href="./maps-vector">Map Vector</a>
              </div>
            </li>

            <!-- PLAYERS -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#navbar-form"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-users"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                  <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                  <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                  <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
                </svg>
                <span class="nav-link-title">Players</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="./players">All Players</a>
                <a class="dropdown-item" href="./ranking">Ranking</a>
              </div>
            </li>

            <!-- News -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#navbar-extra"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-news"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11"
                  />
                  <path d="M8 8l4 0" />
                  <path d="M8 12l4 0" />
                  <path d="M8 16l4 0" />
                </svg>
                <span class="nav-link-title">News</span>
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="./news">All News</a>
                <a class="dropdown-item" href="./announcements"
                  >Announcements</a
                >
                <a class="dropdown-item" href="./broadcast">Broadcast</a>
              </div>
            </li>
          </ul>
        </div>

        <!-- NAVBAR CENTER (LOGO) -->
        <div class="col-auto d-none d-md-flex justify-content-center">
          <a class="navbar-brand mx-2" href=".">
            <img
              src="/static/otb-logo.svg"
              alt="(ChessBoard) OTB"
              class="navbar-brand-image"
              style="width: 64px; height: auto"
            />
          </a>
        </div>

        <!-- NAVBAR RIGHT DESKTOP -->
        <div class="col d-flex justify-content-end">
          <ul class="navbar-nav align-items-center">
            <li class="nav-item dropdown">
              <a
                href="#"
                class="nav-link d-flex lh-1 p-0 px-2"
                data-bs-toggle="dropdown"
              >
                <span
                  class="avatar avatar-sm"
                  style="background-image: url(./static/avatar.jpg)"
                ></span>
                <div class="d-none d-xl-block ps-2">
                  <div>Name of the User</div>
                  <div class="mt-1 small text-secondary">Player</div>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <a href="./profile" class="dropdown-item">Profile</a>
                <a href="./settings" class="dropdown-item">Settings</a>
                <a href="./sign-in" class="dropdown-item">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>
